html,
body {
    margin: 0;
    padding: 0;
    background-color: #CCC;
}

.container {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
	overflow:hidden;
    width: 95%;
    margin: auto;
    padding: 40px 10px;
}

#title-bar {
    width: 100%;
    height: 60px;
    background-color: #2196F3;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12)
}

.gameBoard {
    margin: 0 20px;
	background-color: light-gray;
}

.gameBoard td {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height:40px;
    background-color:#2196F3;
}

table, td {
   border: 1px solid black;
}

#MyBoard .ship{
background-color: orange;
}

#todoapp {
	display: flex;
	text-align:center;
}

.panel {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.panel-header {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
    color: #fff;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12)
}

.panel-body {
    background-color: #fff;
    padding: 20px;
}

.control-label {
    font-size: 18px;
    margin-bottom: 6px;
}

.input-wrapper {
    margin-bottom: 6px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#AircraftcarrierDiv, #Fire {
    margin-bottom: 15px;
}